.battlefield {
    display: flex;
    flex-direction: column;
}
.playerChoice {
    display: flex;
    flex-direction: row;
    max-width: 250px;
}
.playerChoice img {
    max-width: 100%;
    height: auto;
    
}