body {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
h1 {
    display: flex;
    justify-content: center;
}

p {
    display: flex;
    justify-content: center;
}
div.battlefield {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
div.battlefield img {
    max-width:220px;
    height: auto;
}
#CC {
    display: flex;
    justify-content: center;
} 